/* ## Colors */

/* ### Primary */

$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: rgb(49, 211, 92);
$Bright-Cyan: rgb(43, 183, 218);

/* ### Neutral */

$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);
