.header {
  margin-bottom: 60px;

  .container {
    max-width: 100%;
    width: 700px;
    margin: 0 auto;

    padding: 15px 25px 15px 30px;
    border: 3px solid $Header-Outline;
    border-radius: 20px;

    @include media(520px) {
      padding: 10px 10px 10px 25px;
    }
  }

  .game-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      text-transform: uppercase;
      font-size: 28px;
      line-height: 0.8;

      img {
        @include media(520px) {
          max-width: 85px;;
        }
      }
    }

    &__score {
      background-color: #fff;
      padding: 10px 50px;
      border-radius: 10px;
      text-align: center;

      span {
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $Score-Text;
      }

      @include media(520px) {
        padding: 0 20px;
      }
    }
  }

  .score {
    font-size: 60px;
    color: $Dark-Text;
  }
}
