.nav {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;

    @include media(768px) {
      
    }
  }

  &__logo {
  }

  &__items {
    display: flex;
  }

  &__item {
    margin-right: 35px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__item:hover {
  }

  &__link {
    font-size: 14px;
    font-weight: 500;
    color: $Dark-Blue;

    @include media(768px) {
      
    }
  }

  &__link:hover {
    color: $Bright-Red;
  }

  &__burger {
    display: none;
  }

  /* ------------------Humburger menu------------------ */

  &__burger {
    @include media(768px) {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .close {
      display: none;
    }
  }

  &__burger.open {
    .burger {
      display: none;
    }

    .close {
      display: block;
    }
  }

  &__btn {
    @include media(768px) {
      display: none;
    }
  }

  &__items {
    @include media(768px) {
      width: 80%;
      background-color: #fff;
      flex-direction: column;
      position: absolute;
      left: 10%;
      top: 100px;
      transform: translateY(-180%);
      text-align: center;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in;
    }
  }

  &__items.show {
    transform: translateY(0);
  }

  &__item {
    @include media(768px) {
      margin-right: 0;
      padding: 10px;
      overflow: hidden;
    }
  }
}
