/* ## Colors */

/* ### Neutral */
$Dark-Blue-el: hsl(209, 23%, 22%); /*  (Dark Mode Elements) */
$Very-Dark-Blue-BG: hsl(207, 26%, 17%); /*  (Dark Mode Background) */
$Very-Dark-Blue-text: hsl(200, 15%, 8%); /* (Light Mode Text) */
$Dark-Gray-input: hsl(0, 0%, 52%); /*  (Light Mode Input) */
$Very-Light-Gray-LBG: hsl(0, 0%, 98%); /* (Light Mode Background) */
$White: hsl(0, 0%, 100%); /*  (Dark Mode Text & Light Mode Elements) */
